
class {{ model_name }}(model.Model):
    pass
{#{% for field in fields  %}#}
{#    {{ field.name }}=model.{{ fields.type }}({% for key,value in  %}{{ key }}={{ value }},{% endfor %})#}
{#{% endfor %}#}
