
class {{ model_name }}(models.Model):
{% for field in fields %}
    {{ field["name"] }}=models.{{ field["type"] }}({% for argument in field["arguments"] %}{{ argument['name'] }}={{ argument['value'] }}{% if not loop.last %},{% endif %}{% endfor %})
{% endfor %}

